$def with (user)

$var user = user 

<section class="row articleBox">
	<section class="col-md-7">
		<h2 class="articleTitle">ARTchives</h2>
		<section class="columns">
			<h3 class="articleSubtitle">ARTchives</h3>
			<p>collects detailed archival descriptions of notable art historians' collections. Art historians' personal archives include a variety of sources (papers, expertises, correspondances, photographs etc.) documenting creators' work, their opinions, their favourite primary sources, and their scientific methodologies. All this information, if available, shared and consistently integrated, could help to trace the trajectories of our discipline through the lenses of historiographical research. Currently, such a vaste heritage is mainly preserved by cultural institutions, that are not always able to reveal the potential of their collections and engage with a wide public. Moreover, an overview of the extent and the scope of such collections is not available yet.</p>
		</section>
		<hr/>
		<section class="columns">	
			<h3 class="articleSubtitle">the objective</h3>
			<p>of ARTchives is to reconstruct the landscape of art historians' sources and ideas by cataloguing their archival collections and unveal research paths among the surveyed collections. In particular, the focus is on art historians' research topics (artistic periods, genres, themes, artists and artworks), and bibliographic sources.</p>
		</section>
		<hr/>
		<section class="columns">
			<h3 class="articleSubtitle">The cataloguing process</h3>
			<p>has been facilitated and enhanced by using Semantic Web technologies. Rather than collecting information from scratch, a number of curated Linked Open datasets has been leveraged to suggest terms, descriptions, and external resources and speed up the cataloguing. The result is the knowledge graph of art historians, wherein new information on (little-known) art historians is merged with records taken from Wikidata, Open Library (Internet Archive), and Getty vocabularies. So doing we aim to create new narratives out of existing data, develop more expressive applications that leverage such a knowledge, and allow sholars to answer more sophisticated research questions. Secondly, we integrate Wikidata knowledge base with a subset of highly curated data so as to foster the widest reuse of so created data.</p>
		</section>
		<hr/>
		<section class="columns">
			<h3 class="articleSubtitle">Several institutions</h3>
			<p> contribute to the project, namely: Federico Zeri Foundation (Bologna, Italy), Università Roma Tre (Rome, Italy), Scuola Normale Superiore (Pisa, Italy), Bibliotheca Hertziana (Rome, Italy), Kunsthistorisches Institut in Florenz (Florence, Italy), Getty Research Institute (Los Angeles, USA).</p>
		</section>
	</section>
	<section class="col-md-5">
		<img class="col-md-12" src="./static/imgs/fahy.jpg"/>
		<img class="col-md-12" src="./static/imgs/federico-zeri.jpg"/>
		<img class="col-md-12" src="./static/imgs/warburg.jpeg"/>
	</section>
</section>