$def with (user)

$var user = user 

<section class="row articleBox">
	<section class="col-md-7">
		<h2 class="articleTitle">Bibliography</h2>
		<section>
			<h3 class="articleSubtitle">BOOK1</h3>
			<p> collects detailed archival descriptions of notable art historians' collections. Art historians' personal archives include a LOREM IMPUS</p>
		</section>
		<hr/>
		<section>	
			<h3 class="articleSubtitle">BOOK2</h3>
			<p>of ARTchives is to reconstruct the landscape of art historians' sources and ideas by cataloguing their archival collections</p>
		</section>
		<hr/>
		<section>
			<h3 class="articleSubtitle">BOOK3</h3>
			<p>we integrate Wikidata knowledge base with a subset of highly curated data so as to foster the widest reuse of so created data.</p>
		</section>
		<hr/>
		<section>
			<h3 class="articleSubtitle">BOOK4</h3>
			<p> contribute to the project, namely: Federico Zeri Foundation (Bologna, Italy), University Roma Tre (Rome, Italy), Scuola </p>
		</section>
	</section>
</section>