$def with (user, graphdata, graphID)

$var user = user


<section class="row articleBox">
	<section class="col-md-7">
		$if 'S_COLL_2' in graphdata:
			<h2 class="articleTitle">$graphdata['S_COLL_2']</h2>
		<p class="info-item">
			$if 'S_COLL_1' in graphdata:
				<h3 class="articleSubtitle">Reference code</h3> <span>$graphdata['S_COLL_1'].</span>
	 </p>
		<p class="info-item">
			$for k, v in graphdata.items():
				$if k.startswith('S_CREATOR_1'):
					$for id, label in v.items():
						<h3 class="articleSubtitle">Creator </h3><span><a href="historian-$id">$label.lstrip()</a>.</span>
		</p>
		<p class="info-item">
			$for k, v in graphdata.items():
				$if k.startswith('S_COLL_12'):
					$for id, label in v.items():
						<h3 class="articleSubtitle">Repository</h3> <span>$label</span>
			$for k, v in graphdata.items():
				$if k.startswith('S_KEEPER_1'):
					$for id, label in v.items():
						<span>(<a href="keeper-$id">$label.lstrip()</a>).</span>
		</p>
		<p class="info-item">
			$if 'S_COLL_3' in graphdata:
				<h3 class="articleSubtitle">Dates</h3> <span>$graphdata['S_COLL_3'].</span>
		</p>
		
		$if 'S_COLL_4' in graphdata:
			<section>
				<h3 class="articleSubtitle">extent</h3>
				<p>$graphdata['S_COLL_4']</p>
			</section>
		
		$if 'S_COLL_5' in graphdata:
			
			<section class="circles">
				$for k, v in graphdata.items():
					$if k.startswith('S_COLL_6-') or k.startswith('S_COLL_7-'):
						$for id, label in v.items():
							<span class="box-small" data-id="$id">$label</span>
			</section>

			<section>
					<h3 class="articleSubtitle">arrangement</h3>
					<p>$graphdata['S_COLL_5']</p>
			</section>



		$if 'S_COLL_8' in graphdata:
			<section class="columns">
				<h3 class="articleSubtitle">Scope and content</h3>
				<p>$graphdata['S_COLL_8']</p>
			</section>

			<section class="circles row">
				<section class="info-graphic col-md-4"><i class="far fa-lightbulb"></i><p>contents</p></section>
				<section class="info-graphic-items col-md-8">
					<p></p>
					$if any(key.startswith("S_SUBJ_7-") for key in graphdata):
						<p style= "font-weight: bold; color: white;"> People and organizations </p>
						$for k, v in graphdata.items():
							$if k.startswith('S_SUBJ_7-'):
								$for id, label in v.items():
									<span class="box-small" data-id="$id">$label</span>
						<p></p>
					$if any(key.startswith("S_SUBJ_4-" or "S_SUBJ_1-") for key in graphdata):
						<p style= "font-weight: bold; color: white; padding-top: 20px;"> Artists, schools, periods </p>
						$for k, v in graphdata.items():
							$if k.startswith('S_SUBJ_4-') or k.startswith('S_SUBJ_1-') :
								$for id, label in v.items():
									<span class="box-small" data-id="$id">$label</span>

					$if any(key.startswith("S_SUBJ_2-" or "S_SUBJ_5-") for key in graphdata):
						<p style= "font-weight: bold; color: white; padding-top: 20px;"> Genres and themes</p>
						$for k, v in graphdata.items():
							$if k.startswith('S_SUBJ_2-') or k.startswith('S_SUBJ_5-') :
								$for id, label in v.items():
									<span class="box-small" data-id="$id">$label</span>
					
					$if any(key.startswith("S_SUBJ_6-" or "S_COLL_8-") for key in graphdata):
					<p style= "font-weight: bold; color: white; padding-top: 20px;"> Other contents </p>
						$for k, v in graphdata.items():
							$if k.startswith('S_COLL_8-') or k.startswith('S_SUBJ_6-'):
								$for id, label in v.items():
									<span class="box-small" data-id="$id">$label</span>
				</section>
			</section>
		$if 'S_COLL_9' in graphdata:
			<section class="columns">
				<h3 class="articleSubtitle">History of collection</h3>
				<p>$graphdata['S_COLL_8']</p>
			</section>

		<p class="info-item">
				<h3 class="articleSubtitle">Acquisition </h3>
				$for k, v in graphdata.items():
					$if k.startswith('S_COLL_10-'):
						$for id, label in v.items():
							<span>$label.</span>
				$if 'S_COLL_11' in graphdata:
						<span>$graphdata['S_COLL_11'].</span>
				$else:
					<span>-</span>
		</p>

		$if any(key.startswith("S_COLL_20") for key in graphdata):	
			<section class="biblio">
				<h3 class="biblio-label">Events</h3>
				$for k, v in graphdata.items():
					$if k.startswith('S_COLL_20'):
						$for id, label in v.items():
							<p>$label</p>
			</section>		


		$if any(key.startswith("S_COLL_16-") for key in graphdata):
			<section class="circles"> 
			<h3 class="articleSubtitle">CATALOGUING STANDARDS  </h3>		
				$for k, v in graphdata.items():
					$if k.startswith('S_COLL_16-'):
						$for id, label in v.items():
							<span class="box-small" data-id="$id">$label</span> 
			</section>


		$if 'S_COLL_15' in graphdata:
			<section >
				<h3 class="articleSubtitle">Finding Aids</h3>
				<p class="info-url">$graphdata['S_COLL_15']</p>
			</section>


		<section>	
		<p class="info-item">
			<h3 class="articleSubtitle">Access </h3>
				$if 'S_COLL_13' in graphdata:
					<span>$graphdata['S_COLL_13']</span>
				$else:
						<span>-</span>
			</p>
			<!--- <p class="info-item">
				<h3 class="articleSubtitle">Reproduction </h3>
				$for k, v in graphdata.items():
					$if k.startswith('S_COLL_14-'):
						$for id, label in v.items():
							$if id.startswith('Q'):
								<span><a href="http://www.wikidata.org/entity/$id">$label</a>.</span>
							$else:
								<span>$label.</span>
			</p> --->
		</section>



	</section>

	<section class="col-md-5">
		<!-- TODO add image here -->
		$if 'S_COLL_17' in graphdata:
			<section class="biblio">
				<h3 class="biblio-label">Bibliography</h3>
					$for item in graphdata['S_COLL_17'].split(';'):
							<p class="white info-url">$item<p/>
			</section>
			

		<!--- <section class="biblio">
			<h3 class="biblio-label">Also described in</h3>
			$for k, v in graphdata.items():
				$if k.startswith('S_COLL_19'):
					$for id, label in v.items():
						$if id.startswith('Q'):
							<p><a class='blue' target='_blank' href='http://www.wikidata.org/entity/$id'>
									<i class='fas fa-external-link-alt'></i></a> $label</p>
						$else:
							<p>$label</p>
		</section> --->

		
		$if any(key.startswith("S_COLL_18") for key in graphdata):	
			<section class="onlineres">
				<h3 class="biblio-label">Online resources </h3>
				$if 'S_COLL_18_1_desc' in graphdata:
					<p style="font-weight: bold"> $graphdata['S_COLL_18_1_desc']</p>
				$if 'S_COLL_18_1' in graphdata:
					<a class='info-url' href="$graphdata['S_COLL_18_1']">$graphdata['S_COLL_18_1']</a>
						
				$if 'S_COLL_18_2_desc' in graphdata:
					<p style="font-weight: bold"> $graphdata['S_COLL_18_2_desc']</p>
				$if 'S_COLL_18_2' in graphdata:
					<a class='info-url' href="$graphdata['S_COLL_18_2']">$graphdata['S_COLL_18_2']</a>
						
				$if 'S_COLL_18_3_desc' in graphdata:
					<p style="font-weight: bold"> $graphdata['S_COLL_18_3_desc']</p>
				$if 'S_COLL_18_3' in graphdata:
					<a class='info-url' href="$graphdata['S_COLL_18_3']">$graphdata['S_COLL_18_3']</a>
						
			</section>




		$if 'S_COLL_21' in graphdata:
			<section class="notes">
				<section class="row">
					<section class="info-icon col-md-4"><i class="fas fa-quote-left"></i><p>archivists say</p></section>
					<section class="info-note col-md-8">
						<p>$graphdata['S_COLL_21']</p>
					</section>
				</section>
			</section>
		$if 'S_COLL_22' in graphdata:
			<section class="notes">
				<section class="row">
					<section class="info-icon col-md-4"><i class="fas fa-asterisk"></i><p>related nuclei and collections</p></section>
					<section class="info-note col-md-8">
						<p>$graphdata['S_COLL_22']</p>
					</section>
				</section>
			</section>
	</section>
	

</section>