$def with (form, user, data, title)

$var user = user

<script type="text/javascript" src="https://visjs.github.io/vis-timeline/standalone/umd/vis-timeline-graph2d.min.js"></script>
<link rel="stylesheet" href="https://visjs.github.io/vis-timeline/styles/vis-timeline-graph2d.min.css">
<section class="row searchBox">
	<!-- TODO -->
	<section id="searchresult"></section>
</section>
<section class="row articleBox">
	<div class="se-pre-con"></div>
	<section class="col-md-12">
		<h2 class="articleTitle">$title</h2>
		<h3 class="articleSubtitle">Collections</h3>
		<p class="intro_vis">Explore archival collections through the lenses of historical or artistic periods they address.</p>
		<p>Hover the timeline and scroll up or down to zoom on a time span.</p>
		<p>Drag left/right to move the timeline.</p>
		<p>Double-click on a bubble to see which collections address that period.</p>
		<section id="collectionsByPeriod">
			<script type="text/javascript">
				var container = document.getElementById("collectionsByPeriod");
				var items = new vis.DataSet([
					$for period, collections in data.items():
						{
							$if 'start_date' in collections:
								start: new Date($collections['start_date']),
							$if 'end_date' in collections:
								end: new Date($collections['end_date']),
							content: '<div class="timeline_popover"'
											+' tabindex="0"'
											+' data-toggle="popover"'
											+' data-html="true"'
											+' title="$collections["period_label"]"'
											+' data-content="'
											$for collection_uri, collection_name in collections.items():
												$if collection_uri.startswith('collection'):
													+'<p><a target=\'_blank\' href=\'$collection_uri\'>$collection_name</a></p>'
											+'">$collections["period_label"]</div>',
						},

				]);
				var options = {
				  editable: false,
				  margin: {
				    item: 20,
				    axis: 40,
				  },
				};
				console.log(items);
				var timeline = new vis.Timeline(container, items, options);
				\$(".vis-item").click(function(){
					\$(this).find('.timeline_popover').popover();
				});

				\$('.popover-header').click(function(e){
					e.preventDefault();
					\$(".timeline_popover").popover('hide');
				});
			</script>
		</section>

		<!-- <p>Explore archival collections by artists addressed in their materials</p>
		<p>Explore archival collections by dates of art historians' activities</p>
		<p>Search for a topic to see in which collection it is addressed</p> -->
	</section>
</section>
