$def with (user)

$var user = user 

<section class="row articleBox">
	<section class="col-md-7">
		<h2 class="articleTitle">Credits</h2>
		<h3 class="articleSubtitle">Partner intitutions</h3>
		<ul>
			<li>Biblioteca Hertziana, Rome</li>
			<li>Federico Zeri Foundation, Bologna</li>
			<li>Getty Research Institute, Los Angeles</li>
			<li>Kunsthistorisches Institut in Florenz, Florence</li>
			<li>Scuola Normale Superiore, Pisa</li>
			<li>Università Roma Tre, Rome</li>
		</ul>
		<h3 class="articleSubtitle">Development and maintanance</h3>
		<p>/DH.arc, Digital Humanities Advanced Research Centre, University of Bologna.</p>
		<h3 class="articleSubtitle">Home page photo credit</h3>
		<p>Everett Fahy in 1995, when he was chairman of the Metropolitan Museum of Art’s European paintings department. <a href="http://www.henrybourne.com">Henry Bourne</a>.</p>
	</section>
</section>


