$def with (wikilist, user, varIDpage)
$var user = user
<header class="row">
  <h3>Welcome $user!</h3>
</header>
<section class="col-md-12">
 <article>
  <form action='' method='POST'>
    <button class="btn btn-dark" name="action" value="createRecord$varIDpage" type="submit">Create a new record</button>
  </form>
 </article>
  <article>
    <h3>List of records</h3>
    <table id="recordsList">
      <tr>
        <th>Record</th>
        <th>User</th>
        <th>Date</th>
        <th>Stage</th>
        <th> </th>
      </tr>
      $for result in wikilist:
        <tr>
          <td>$result[1]</td>
          <td>$result[2]</td>
          <td>$result[3]</td>
          <td>$result[4]</td>
          <td>
            $if result[4] == 'not modified' or result[4] == 'modified':
              <form action="" method='POST'>
                <button class="btn btn-dark" name="action" value="deleteRecord$:result[0]" type="submit">Delete</button>
                <button class="btn btn-dark" name="action" value="modifyRecord$:result[0]" type="submit">Modify</button>
                <button class="btn btn-dark" name="action" value="reviewRecord$:result[0]" type="submit">Start review</button>
              </form>
            $if result[4] == 'in review':
              <form action="" method='POST'>
                <button class="btn btn-dark" name="action" value="deleteRecord$:result[0]" type="submit">Delete</button>
                <button class="btn btn-dark" name="action" value="modifyRecord$:result[0]" type="submit">Modify</button>
                <button class="btn btn-dark" name="action" value="reviewRecord$:result[0]" type="submit">Review</button>
              </form>
            $if result[4] == 'published':
              <form action="" method='POST'>
                <button class="btn btn-dark" name="action" value="deleteRecord$:result[0]" type="submit">Delete</button>
                <button class="btn btn-dark" name="action" value="modifyRecord$:result[0]" type="submit">Modify</button>
              </form>
          </td>
        </tr>
    </table>
  </article>
  <!-- <h2>Search</h2>
    
    <div class="input-group">
	     <input type="text" class="form-control searchterm" placeholder="Search term in Wikidata" id="searchterm"/>
    </div>

    <div id="searchresult"></div> -->

</section>




