$def with (user, graphdata, graphID)

$var user = user

<section class="row articleBox">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
   integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
   crossorigin=""></script>
	<section class="col-md-7">
		$for k, v in graphdata.items():
			$if k.startswith('S_KEEPER_1'):
				$for id, label in v.items():
				<h2 class="articleTitle" id="entity">$label.lstrip()</h2>

		<p class="info-item">
			$if 'S_KEEPER_2' in graphdata:
				<h3 class="articleSubtitle">Address </h3><span id="address">$graphdata['S_KEEPER_2'].lstrip().</span>
			$for k, v in graphdata.items():
				$if k.startswith('S_KEEPER_3-'):
					$for id, label in v.items():
						<span id="city">$label.lstrip().</span>
			$for k, v in graphdata.items():
				$if k.startswith('S_KEEPER_4-'):
					$for id, label in v.items():
						<span id="district">$label.lstrip().</span>
			$for k, v in graphdata.items():
				$if k.startswith('S_KEEPER_5-'):
					$for id, label in v.items():
						<span id="country">$label.lstrip().</span>
		</p>
		<p class="info-item">
			$if 'S_KEEPER_8' in graphdata:
				<h3 class="articleSubtitle">Website </h3><span><a href="$graphdata['S_KEEPER_8'].lstrip()">$graphdata['S_KEEPER_8'].lstrip()</a></span>
		</p>
		<p class="info-item">
			$if 'S_KEEPER_8' in graphdata:
				<h3 class="articleSubtitle">Email </h3><span>$graphdata['S_KEEPER_7'].lstrip()</span>
		</p>
		<p class="info-item">
			$if 'S_KEEPER_6' in graphdata:
				<h3 class="articleSubtitle">Phone </h3><span>$graphdata['S_KEEPER_6'].lstrip()</span>
		</p>
	</section>
	<section class="col-md-5">
		<div id="mapid"></div>
		<section class="biblio">
			<h3 class="biblio-label">Collections</h3>
				$for k, v in graphdata.items():
					$if k.startswith('S_COLL_2-'):
						$for id, label in v.items():
						<!-- TODO add link to graph - change query getKeeper -->
						<p><a class='blue' target='_blank' href='collection-$id'>
								<i class='fas fa-external-link-alt'></i></a> $label.lstrip()</p>

		</section>
	</section>
	<script type="text/javascript">
		// ajax call to nominatim


		var encoded = $$("#address").text().replace(/\s/g, '+')+','+$$("#city").text().replace(/\s/g, '+');
		$$.ajax({
		    type: 'GET',
		    url: 'https://nominatim.openstreetmap.org/search?q=' + encoded + '&format=json&addressdetails=1',
		    headers: {
		 		Accept: 'application/json'
		    	},
		    success: function(returnedJson) {
		    	// get coordinates
		    		console.log(returnedJson);
			    	//console.log(returnedJson[i].polygonpoints);
			    	var mymap = L.map('mapid').setView([returnedJson[0].lat, returnedJson[0].lon], 15);
			    	//var polygon = L.polygon(returnedJson[i].polygonpoints).addTo(mymap);
			    	var marker = L.marker([returnedJson[0].lat, returnedJson[0].lon]).addTo(mymap);
			    	marker.bindPopup("<b>"+$$('#entity').text()+"</b><br>"+returnedJson[0].display_name+".").openPopup();
						L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
			        maxZoom: 19,
			        attribution: '&copy; <a href="https://openstreetmap.org/copyright">OpenStreetMap contributors</a>'
			      }).addTo(mymap);

		        }

		    // handle if no results - show only city
		    });
		// change to polygon


	</script>

</section>
