$def with (user)

$var user = user 

<section class="homepage">
  <h1> ARTchives </h1>
</section>
<article>
  <h2>The knowledge graph of art historians' archives</h2>
  <p>Art historians' personal archives include a variety of sources (papers, expertises, correspondances, photographs etc.) documenting creators' work, their opinions, their favourite primary sources, and their scientific methodologies. All this information, if available, shared, and consistently integrated, could help to trace the trajectories of Art history through the lenses of historiographical research. Currently, such a vaste heritage is mainly preserved by cultural institutions, that are not always able to reveal the potential of their collections and engage a wide public. Moreover, an overview of the extent and the scope of such collections is not available yet.</p>
  <p>The objective of ARTchives is to create a knowledge graph of art historians’ archives for historiographical research purposes, so that users can identify and retrieve archival fonds relevant to their studies, and researchers can answer research questions related to historiographical topics, such as: historians’ relations, debate on research topics, bibliographic sources addressing such topics.</p>
  <p>We developed an agile cataloguing process that leverages Semantic Web technologies and allows archivists to save time and provide high-quality contents at the same time.</p>
</article>
<article>
  <h2>Highlights</h2>
  <section class="row highlights">
    <a href="/historians" class="box col-md-3">      
      <h2>Art historians</h2>
    </a>
    <a href="/institutions" class="box col-md-3">
      <h2>Institutions</h2>
    </a>
    <a href="/collections" class="box col-md-3">
      <h2>Collections</h2>
    </a>
    <a href="/bibliography" class="box col-md-3">
      <h2>Bibliography</h2>
    </a>   
  </section>
</article>

